@mixin center {
  display: flex;
  justify-content: center;
}

.body {
  @include center;
  flex-direction: column;
  flex-wrap: wrap;
}

.center {
  @include center;
}

.display-area {
  @include center;
  flex-direction: column;
  text-align: center;
  height: 150px;
}

.text-area > * {
  width: 90%;
}

.actions {
  @include center;
  button {
    margin-left: 8px;
  }
}

